table {
  width: 50%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f1f1f1;
}

td {
  background-color: #ffffff;
}
