* {
  padding: 0;
  margin: 0;
  font-family: Cambria;
  box-sizing: border-box;
  color: #444;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
